{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (and .Lastmod (not (eq .Lastmod .Date))) -}}

  {{- $lastmod := .Lastmod | time.Format (default ":date_long" site.Params.DateFormat) -}}
  {{- $history_url := printf "https://github.com/vladimirck/vladimirck.github.io/commits/main/content/%s" .File.Path -}}
  {{- $scratch.Add "meta" (slice (printf "<span>Última revisión: %s (<a href='%s' target='_blank' style='text-decoration: underline;'>Historial</a>)</span>" $lastmod $history_url)) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
